<!doctype html>
<html lang="en">
  <head>
    {{>headerFiles}}
  </head>
  <body>
   
   {{>navBar}}

   <div class="about-section">
  <h1>About ABOUT ME</h1>
  <p>A personal space to share my passions and experiences.</p>
  <p>A glimpse into my world.</P>
</div>

   </body>
</html>